 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
     background-color: hsl(130, 45%, 58%);  
      
    }
    .register-container {
     background: linear-gradient(135deg, #199ce8ff, #e6204eff);
      margin: 60px auto;
      padding: 40px;
      width: 400px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(218, 13, 13, 0.89);
      transition: transform 0.3s ease;
    }

    .register-container:hover {
      transform: translateY(-5px);
    }

    .register-container h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #333;
    }

    .register-form {
      display: flex;
      flex-direction: column;
    }

    select, input {
    width: 100%;       /* full width like other inputs */
    padding: 10px;     /* spacing inside */
    font-size: 16px;   /* text size */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* prevents padding messing width */
    margin-bottom: 10px;
  }


    .register-form input {
      margin-bottom: 15px;
      padding: 12px 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 15px;
      transition: border 0.3s ease, box-shadow 0.3s ease;
    }
   

    .register-form input:focus {
      border: 1px solid #667eea;
      outline: none;
      box-shadow: 0 0 8px rgba(102, 126, 234, 0.4);
    }

    .register-form button {
      padding: 12px;
      background: #667eea;
      color: #fff;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
    }
     .register-form input[type="submit"] {
      background: #10d90de6;
    }

    .register-form input[type="submit"]:hover {
      background: #764ba2;
    }

    .extra-links {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }

    .extra-links a {
      color: #667eea;
      text-decoration: none;
    }

    .extra-links a:hover {
      text-decoration: underline;
    }
     footer {
            background-color: #5834cfff;
            text-align: center;
            padding: 20px;
            color: #ecefeeff;
            margin-top: 20px;
        }

        footer p {
            margin: 5px 0;
        }

        footer a {
            color: #b328e6;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }